<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.alexpfx.udacity.beercollection">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".BeerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeInterVersions">
        <activity
            android:name=".search.SearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".collection.MyCollectionActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchbeers"/>
        </activity>
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.DetailActivity"
            android:label="@string/title_activity_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".collection.MyCollectionActivity">
        </activity>
        <activity
            android:name=".collection.MyCollectionActivity"
            android:label="@string/title_activity_my_collection"
            android:parentActivityName=".login.LoginActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".preference.PreferenceActivity"
            android:parentActivityName=".collection.MyCollectionActivity">
        </activity>

        <service
            android:name=".cache.CacheCleanerIntentService"
            android:exported="false">
        </service>


        <receiver android:name=".collection.widget.CollectionWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info"/>
        </receiver>


        <service
            android:name=".collection.widget.CollectionRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service android:name=".collection.widget.UpdateWidgetIntentService"/>



    </application>

</manifest>